<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <form>
        <div>
            <label for="username-login">Username</label>
            <input type="text" id="username-login">
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="text" id="password-login">
        </div>
        <button type="submit" id="login-btn" class="btn">Login!</button>
        <a type="button" href="/signup">Sign Up Instead</a>
    </form>
</div>